.nav-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  align-items: center;
  padding: 1rem 0;

  & h4 {
    color: $white;
    font-family: "Montserrat", sans-serif;
    margin-left: 3rem;
  }

  & .button {
    text-decoration: none;
    color: $white;
    font-family: "Montserrat", sans-serif;
    padding: 0.5rem 1rem;
    background-color: $off-black;
    margin-right: 3rem;
    border-radius: 2rem;
    font-size: 0.8em;

    &:hover {
      color: $off-black;
      background-color: $white;
    }
  }
}
