* {
  margin: 0;
  padding: 0;
  color: $white;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

section {
  position: relative;
  /* height: calc(
    100vh + 100px
  );  additional offset based on negative offset of #first heroImage */
  width: 100%;
  margin: 0;
  padding: 0;
}
